.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    overflow-x: hidden;
}

.about {
    position: relative;
    margin-top: 12%;
    width: 1360px;
    height: 51%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    position: relative;
    width: 100%;
    height: 65px;
    font-family: 'Kharkiv Tone', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 65px;
    background-color: #2AA5A0;
    background-image: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.about-info {
    position: relative;
    width: 1360px;
    height: 805px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.user {
    width: 512px;
    height: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lenguage {
    width: 50%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: white;
}
.lenguage-flag {
    width: 34%;
    display: flex;
    justify-content: space-between;
}

.about-text {
    width: 790px;
    height: 800px;
    display: flex;
    flex-direction: column;
    color: white;
}

.about-user {
    width: 790px;
    height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.epam-adaptive {
    display: none;
}

.top-text {
    width: 80%;
    height: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-text p {
    width: 446px;
    height: 145px;
    color: #A8A8A8;
}

b {
    color: white;
}

.middle-text {
    width: 100%;
    height: 326px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 44px;
}
.middle-text p {
    width: 44%;
    height: 22%;
    display: flex;
    align-items: center;
}

.bottom-text {
    width: 55%;
    height: 11%;
    margin-top: 5px;
}

.about-check {
    width: 100%;
    height: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
}

.check {
    width: 95%;
    height: 8%;
    display: flex;
    align-items: center;
}

.check img {
    margin-right: 3%;
}

.about-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.mobile-top {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.mobile-bottom {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.footer-check {
    display: flex;
    align-items: center;
}

