@media (max-width: 1380px) {
    .header-title {
        font-size: 90px;
        line-height: 91px;
    }
    /* .container img.circle {
        width: 200px;
    } */

    .header-info {
        width: 90%;
    }

}

@media (max-width: 1260px) {
    .header {
        padding-left: 5%;
    }
    /* about */
    .about-info {
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
    }
    .user {
        margin-bottom: 40px;
    }
    .user-photo {
        width: 200px;
    }
    .about-check {
        margin-top: 20px;
    }
    /* .about-text {
        margin-left: -20%;
    } */
    /* .about {
        width: 95%;
        height: 990px;
    }
    
    .about-epam {
        width: 600px;
        height: 455px;
    }
    .left-text {
        width: 350px;
    }
    .right-text {
        width: 300px;
    }
    .about-check {
        width: 650px;
        margin-top: 50px;
    }
    .about-footer {
        width: 600px;
        margin-top: 60px;
    } */
/* skills */
    .circle {
        width: 200px;
        height: 200px;
    }
}

/* @media (max-width: 1024px) {
    .about-check {
        width: 530px;
        height: 200px;
    }
} */

@media (max-width: 1024px) {
    .about {
        height: 1100px;
        margin-top: 40px;
    }
    .about-epam {
        display: none;
    }
    .epam-adaptive {
        height: 649px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    .epam-adaptive p {
        font-size: 20px;
    }
    .about-check {
        margin-left: -10%;
    }
    /* .about-info {
        flex-direction: column;
        margin-top: 40px;
    } */
    /* .about-check {
        width: 480px;
        height: 200px;
    }
    .about-footer {
        width: 550px;
    }
    .footer-check p {
        font-size: 20px;
        line-height: 22px;
    }
    .check p {
        font-size: 20px;
        line-height: 22px;
    }
    .right-text p {
        font-size: 20px;
        line-height: 22px;
        justify-content: space-around;
    }
    .left-text {
        width: 340px;
    }
    .right-text {
        width: 230px;
        height: 330px;
        margin-top: -10%;
    }
    .left-text p {
        font-family: 'Montserrat';
        font-size: 20px;
        line-height: 22px;
    } */
}

@media (max-width: 850px) {
    .container img.circle {
        width: 150px;
        height: 150px;
    }
    .centered {
        font-size: 12px;
        line-height: 16px;
    }
    .centered h4{
        font-size: 36px;
        line-height: 34px;
    }
    .about-check {
        width: 700px;
        height: 300px;
    }
}

@media (max-width: 750px) {
    .about-check {
        width: 600px;
        height: 300px;
    }
}