@media (max-width: 1380px) {
    .header-title {
        font-size: 90px;
        line-height: 91px;
    }

    .header-info {
        width: 90%;
    }

}

@media (max-width: 1260px) {
    .header {
        padding-left: 5%;
    }
    /* about */
    .about-info {
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
    }
    .user {
        margin-bottom: 40px;
    }
    .user-photo {
        width: 200px;
    }
    .about-check {
        margin-top: 20px;
    }
    
/* skills */
    .circle {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 1024px) {
    .about {
        height: 1100px;
        margin-top: 40px;
    }
    .about-epam {
        display: none;
    }
    .epam-adaptive {
        height: 649px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    .epam-adaptive p {
        font-size: 20px;
    }
    .about-check {
        margin-left: -10%;
    }
    .slick-dots li {
        display: none;
        margin: 0 5px;
    }
    .slick-dots li.slick-active,
    .slick-dots li.slick-active + li,
    .slick-dots li.slick-active + li + li,
    .slick-dots li.slick-active + li + li + li {
        display: inline-block;
    }
    .tarkikComandSlider {
        padding-left: 130px;
    }
    .comandSlider__item img {
        width: 80%;
    }
    .comandSlider__item::before {
        width: 80%;
    }
}

@media (max-width: 850px) {
    .container img.circle {
        width: 150px;
        height: 150px;
    }
    .arrow-down img {
        height: 70px;
    }
    .centered {
        font-size: 12px;
        line-height: 16px;
    }
    .centered h4{
        font-size: 36px;
        line-height: 34px;
    }
    .about-check {
        width: 700px;
        height: 300px;
    }
    
    .slick-dots li {
        display: none;
        margin: 0 5px;
    }
    .slick-dots li.slick-active,
    .slick-dots li.slick-active + li,
    .slick-dots li.slick-active + li + li,
    .slick-dots li.slick-active + li + li + li {
        display: inline-block;
    }

}

@media (max-width: 750px) {
    .about-check {
        width: 600px;
        height: 300px;
    }
}