@media (max-width: 1380px) {
    .header-title {
        font-size: 90px;
        line-height: 91px;
    }
    /* .container img.circle {
        width: 200px;
    } */

    .header-info {
        width: 90%;
    }

}

@media (max-width: 1260px) {
    .header {
        padding-left: 5%;
    }
    /* about */
    .about {
        width: 95%;
        height: 990px;
    }
    .user-photo {
        width: 200px;
    }
    .about-epam {
        width: 600px;
        height: 455px;
    }
    .left-text {
        width: 350px;
    }
    .right-text {
        width: 300px;
    }
    .about-check {
        width: 650px;
        margin-top: 50px;
    }
    .about-footer {
        width: 600px;
        margin-top: 60px;
    }
/* skills */
    .circle {
        width: 200px;
        height: 200px;
    }
}

/* @media (max-width: 1024px) {
    .about-check {
        width: 530px;
        height: 200px;
    }
} */

@media (max-width: 1024px) {
    .about-check {
        width: 480px;
        height: 200px;
    }
    .about-footer {
        width: 550px;
    }
    .footer-check p {
        font-size: 20px;
        line-height: 22px;
    }
    .check p {
        font-size: 20px;
        line-height: 22px;
    }
    .right-text p {
        font-size: 20px;
        line-height: 22px;
        justify-content: space-around;
    }
    .left-text {
        width: 340px;
    }
    .right-text {
        width: 230px;
        height: 330px;
        margin-top: -10%;
    }
    .left-text p {
        font-family: 'Montserrat';
        font-size: 20px;
        line-height: 22px;
    }
}