.tools {
    position: relative;
    width: 70%;
    height: 44%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 294px;
}

.tools-title {
    width: 100%;
    font-family: 'Kharkiv Tone', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 65px;
    background-color: #2AA5A0;
    background-image: linear-gradient(99.73deg, #9747FF 0.42%, #5A77F6 109.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.tools-text {
    width: 502px;
    height: 60px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 40px;
}

.tools-section {
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 120px;
}

.tools-wrapper {
    height: 110px;
    display: flex;
    justify-content: space-between;
}

.tools-item {
    width: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: white;
}

.mobile-images {
    display: none;
}

img.bugherd-mobile {
    display: none;
}

img.azure-mobile{
    display: none;
}

img.figma-mobile{
    display: none;
}